<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humorous.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".application.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_demo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".container.ContainerActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false">
            <intent-filter >
                <action android:name="com.humorous.test"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="test"
                      android:host="humorous"/>
            </intent-filter>
        </activity>
        <activity android:name=".SecondMenuActivity" />

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true"
            android:process=":TestProcess"></service>
    </application>

</manifest>