<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzq.zxinglibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--suppress AndroidUnknownAttribute -->
    <application>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <activity
            android:name=".android.CaptureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/ZxingTheme">
            <intent-filter >
                <action android:name="com.humorous.test"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="test"
                    android:host="humorous"
                    android:path="/com.humorusz.zxing/Capture"/>
            </intent-filter>
        </activity>
    </application>
</manifest>