<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.humorousz.home">

  <application>
    <activity
      android:name="com.humorousz.home.MainActivity"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.humorousz.home.SecondMenuActivity"
      android:theme="@style/DIY.SlideClose.Transparent.Theme" />
    <activity android:name="com.humorousz.home.container.ContainerActivity"
      android:windowSoftInputMode="adjustNothing"
      android:exported="false"
      android:theme="@style/DIY.SlideClose.Transparent.Theme">
      <intent-filter >
        <action android:name="com.humorous.test"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="test"
          android:host="humorous"/>
      </intent-filter>
    </activity>
  </application>
</manifest>